a
  color: $green
  +ease-out
  &:hover
    color: darken($green, 10%)

.button
  border-radius: 4px
  padding: 10px 20px
  background: $gray
  display: block
  text-decoration: none
  box-sizing: border-box
  color: white
  font:
    size: 12px
    family: 'Montserrat', sans-serif
    weight: 400
  &:hover
    color: white
