.top-nav
  background: $black
  width: 100%
  padding: 0 20px
  box-sizing: border-box
  nav
    min-height: 70px
    line-height: 70px
    // +outer-container
    img
      height: 20px
      vertical-align: middle
    form
      display: inline-block
      &.right
        float: right
