.top-nav
  background: $black
  +clearfix
  nav
    +column(12)
    min-height: 3em
    line-height: 3em
    img
      height: 1.2em
    form
      display: inline-block
      &.right
        float: right
