%aside.sidebar-nav
  %header Main
  %ul
    %li
      %a.active{href: "#"}
        %i.ion-android-home
        %span &nbsp; Dashboard
    %li
      %a{href: "#"}
        %i.ion-android-car
        %span &nbsp; Companies
    %li
      %a{href: "#"}
        %i.ion-android-apps
        %span &nbsp; Jobs
    %li
      %a{href: "#"}
        %i.ion-android-person
        %span &nbsp; Users
