= partial "header"

%section.admin-dashboard

  = partial "sidebar_nav"

  %article.main-content
    %h1 Dashboard
    %figure.list
      %header
        %dl.inline
          %dt
            Companies
            .count
              100
          %dd
            = link_to "#" do
              Manage
      %ul
        -100.times do
          %li
            %a{href: "#"}
              Company Name
              %small Modified March 10, 2015
    %figure.activity
      %header
        Recent Activity
      %ul
        %li.active
          %a{href: "#"}
            Mike Davidson Ford
            %small Last seen 5 minutes ago
        -50.times do
          %li
            %a{href: "#"}
              Autoline
              %small Last seen 10 minutes ago
