= partial "header"

%section.admin-dashboard

  %aside.sidebar-nav
    %header Main
    %ul
      %li
        %a{href: "#"}
          %i.ion-android-home
          %span &nbsp; Dashboard
    %ul
      %li
        %a{href: "#"}
          %i.ion-android-car
          %span &nbsp; Companies
      %li
        %a{href: "#"}
          %i.ion-android-person
          %span &nbsp; Users

  %article.main-content
    %h2 Dashboard
