= partial "header"

%section.admin-dashboard

  %aside.sidebar-nav
    %header Main
    %ul
      %li
        %a{href: "#"}
          %i.ion-android-car
          Companies
      %li
        %a{href: "#"}
          %i.ion-android-person
          Users

  %article.main-content
    %h2 Dashboard
