= partial "header"

%section.admin-dashboard

  = partial "sidebar_nav"

  %article.main-content
    %h1 Users
    %figure.manage-list
      %header
        %dl.inline
          %dt
            Manage Users
          %dd
            %a{rel: "leanModal", href: "#modal"}
              %i.ion-plus
              New User
      %ul
        %li.active
          %dl.inline
            %dd
              %a{rel: "leanModal", href: "#modal"}
                Mike Davidson Ford
                %small Modified 5 minutes ago
            %dd
              Acount Owner
            %dd
              %a.button.primary{rel: "leanModal", href: "#modal"} Edit
              %a.close{href: "#"}
                %i.ion-close

        -50.times do
          %li
            %dl.inline
              %dd
                %a{rel: "leanModal", href: "#modal"}
                  Autoline
                  %small Modified 10 minutes ago
              %dd
                Acount Owner
              %dd
                %a.button.primary{rel: "leanModal", href: "#modal"} Edit
                %a.close{href: "#"}
                  %i.ion-close

#modal{style: "display: none"}
  .modal-inner
    %h3 Edit User
    %form
      .control
        %label Name
        %input{type: "text"}
      .control
        %label Email
        %input{type: "email"}
      .control
        %label Password
        %input{type: "password"}
      .control.radio
        %input{:checked => "", :name => "alone", :type => "radio"}/
        %label Account Manager
      .control.radio
        %input{:checked => "", :name => "alone", :type => "radio"}/
        %label Account Manager
      .control.radio
        %input{:checked => "", :name => "alone", :type => "radio"}/
        %label Account Manager
      %input.button{type: "submit", value: "Save"}

:javascript
  $(function() {
    $('a[rel*=leanModal]').leanModal({ top : 200, closeButton: ".modal_close" });
  });
