= partial "header"

%section.admin-dashboard

  = partial "sidebar_nav"

  %article.main-content
    %h1 Users
    %figure.manage-list
      %header
        Manage Users
      %ul
        %li.active
          %dl.inline
            %dd
              %a{href: "#"}
                Mike Davidson Ford
                %small Modified 5 minutes ago
            %dd
              Acount Owner
            %dd
              %a.button.primary{href: "#"} Edit
              %a.close{href: "#"}
                %i.ion-close

        -50.times do
          %li
            %dl.inline
              %dd
                %a{href: "#"}
                  Autoline
                  %small Modified 10 minutes ago
              %dd
                Acount Owner
              %dd
                %a.button.primary{href: "#"} Edit
                %a.close{href: "#"}
                  %i.ion-close
